<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OWar</title>
</head>
<body>
  <div class="login-container" *ngIf="this.emailForm">
    <h2>Reset Password</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <input type="text" placeholder="Email" formControlName="email" />
      </div>
      <div>
        <button type="submit" class="login-button">Reset</button>
      </div>
    </form>
  </div>
  <div class="errors-container" *ngIf="this.emailForm && (this.response || this.err)">
    <div *ngIf="this.err">
      <h2>ERRORE</h2>
      <p>Email non registrata!.</p>
      <p>Prova di nuovo o registrati.</p>
    </div>
    <div *ngIf="!this.err">
      <h2>Email inviata</h2>
      <p>Email inviata con successo!.</p>
      <p>Controlla la posta elettronica!".</p>
    </div>
  </div>

  <div class="login-container" *ngIf="!this.emailForm">
    <h2>Reset Password</h2>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmitChangePassword()">
      <div>
        <input type="password" placeholder="Password" formControlName="password" />
      </div>
      <div>
        <input type="password" placeholder="Conferma Password" formControlName="passwordConfirm" />
      </div>
      <div>
        <button type="submit" class="login-button">Reset</button>
      </div>
    </form>
  </div>
  <div class="errors-container" *ngIf="this.confirmPasswordResponse || this.confirmPasswordErr">
    <div *ngIf="this.confirmPasswordErr">
      <h2>ERRORE</h2>
      <p>{{confirmPasswordErrorMessage}}</p>
    </div>
    <div *ngIf="!this.confirmPasswordErr">
      <h2>Password Cambiata con Successo</h2>
      <p>La password è stata cambiata!</p>
      <a routerLink="/login">Login</a>
    </div>
  </div>


</body>
</html>
