.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.container .col-sinistra {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  flex: 1;
}

.container .col-sinistra .profile-image {
  flex: 1;
}

.container .col-sinistra .profile-image img {
  height: 100%;
  width: 100%;
}

.container .col-sinistra .riassunto {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 5;
}

.container .col-sinistra .riassunto h3 {
  color: #fff;
  font-weight: bolder;
  font-size: 22px;
  text-align: center;
  margin-top: 5%;
}

.container .col-sinistra .riassunto p {
  color: #fff;
  font-weight: bolder;
  text-align: left;
  font-size: 16px;
  padding: 5% 0 0 3%;
  margin: 0;
}

.container .col-destra {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 2;
}

.container .col-destra .dati {

  display: flex;
  flex-direction: column;

  flex: 10;
  width: 99%;
}

.container .col-destra .dati h2 {
  color: #fff;
  font-weight: bolder;
  text-align: center;
  font-size: 30px;
  margin: 3% auto;
}

.container .col-destra .dati .dati-strutture {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 8%;

  max-height: 800px;
  overflow-y: auto;
  transition: box-shadow 0.3s ease;
}

.container .col-destra .dati .dati-strutture::-webkit-scrollbar {
  width: 5px; /* Larghezza della barra di scorrimento */
}

.container .col-destra .dati .dati-strutture::-webkit-scrollbar-track {
  background-color: rgb(45, 3, 49); /* Colore dello sfondo della barra di scorrimento */
}

.container .col-destra .dati .dati-strutture::-webkit-scrollbar-thumb {
  background-color: rgba(144, 48, 153, 0.842); /* Colore della maniglia della barra di scorrimento */
}

.container .col-destra .dati .dati-strutture .sin {
  display: flex;
  flex-direction: column;
}

.container .col-destra .dati .dati-strutture .dest {
  display: flex;
  flex-direction: column;
}

.container .col-destra .dati .dati-strutture .blocco {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3%;
}

.container .col-destra .dati .dati-strutture .blocco .nome-struttura {
  margin-right: auto;
}

.container .col-destra .dati .dati-strutture img {
  height: 64px;
  width: 64px;
  margin-right: 2%;
}

.container .col-destra .dati .dati-strutture p {
  color: #fff;
  font-size: 14px;
  margin-left: none;
}

.container .col-destra .dati h3 {
  color: #fff;
  font-weight: bolder;
  text-align: center;
  font-size: 20px;
  margin: 1% auto;
}

.container .col-destra .tasti {
  flex: 1;
  width: 99%;
  border: 1px solid #fff;
}
