
<div class="container">

  <div class="col-sinistra">
    <div class="profile-image">
      <img src={{this.playerInfo.urlImmagine}} alt="Immagine profilo">
    </div>
    <div class="riassunto">
      <h3>STATISTICHE</h3>
      <p>LVL: {{this.playerInfo.livello}}</p>
      <p>EXP: {{this.playerInfo.expTot | number: '1.0-0' : 'it-IT'}}</p>
      <p>CP: {{this.playerInfo.cp}}</p>
      <p>PUNTI ATTACCO: {{this.playerInfo.puntiAttacco}}</p>
      <p>PUNTI DIFESA: {{this.playerInfo.puntiDifesa}}</p>
      <p>REGISTRATO: {{this.playerInfo.dataRegistrazione}}</p>
    </div>
  </div>

  <div class="col-destra">
    <div class="dati">
      <h2>{{this.playerInfo.nickname}}</h2>

      <h3>Risorse</h3>
      <div class="dati-strutture">
        <div class="sin">

          <div class="blocco">
            <img src={{this.nanoChip?.urlImg}} alt={{this.nanoChip?.nome}}>
            <p class="nome-struttura">{{this.nanoChip?.nome}}</p>
            <p class="livello-struttura">{{this.nanoChip?.livello}}</p>
          </div>
          <div class="blocco">
            <img src={{this.silicon?.urlImg}} alt={{this.silicon?.nome}}>
            <p class="nome-struttura">{{this.silicon?.nome}}</p>
            <p>{{this.silicon?.livello}}</p>
          </div>
          <div class="blocco">
            <img src={{this.quantumCore?.urlImg}} alt={{this.quantumCore?.nome}}>
            <p class="nome-struttura">{{this.quantumCore?.nome}}</p>
            <p>{{this.quantumCore?.livello}}</p>
          </div>

          <div class="blocco">
            <img src={{this.nucleare?.urlImg}} alt={{this.nucleare?.nome}}>
            <p class="nome-struttura">{{this.nucleare?.nome}}</p>
            <p>{{this.nucleare?.livello}}</p>
          </div>
          <div class="blocco">
            <img src={{this.solare?.urlImg}} alt={{this.solare?.nome}}>
            <p class="nome-struttura">{{this.solare?.nome}}</p>
            <p>{{this.solare?.livello}}</p>
          </div>
          <div class="blocco">
            <img src={{this.eolica?.urlImg}} alt={{this.eolica?.nome}}>
            <p class="nome-struttura">{{this.eolica?.nome}}</p>
            <p>{{this.eolica?.livello}}</p>
          </div>

          <div class="blocco">
            <img src={{this.cryptoVault?.urlImg}} alt={{this.cryptoVault?.nome}}>
            <p class="nome-struttura">{{this.cryptoVault?.nome}}</p>
            <p>{{this.cryptoVault?.livello}}</p>
          </div>
          <div class="blocco">
            <img src={{this.digitalCoin?.urlImg}} alt={{this.digitalCoin?.nome}}>
            <p class="nome-struttura">{{this.digitalCoin?.nome}}</p>
            <p>{{this.digitalCoin?.livello}}</p>
          </div>
          <div class="blocco">
            <img src={{this.blockchain?.urlImg}} alt={{this.blockchain?.nome}}>
            <p class="nome-struttura">{{this.blockchain?.nome}}</p>
            <p>{{this.blockchain?.livello}}</p>
          </div>

        </div>
        <div class="dest">

          <div class="blocco">
            <img src={{this.metalForge?.urlImg}} alt={{this.metalForge?.nome}}>
            <p class="nome-struttura">{{this.metalForge?.nome}}</p>
            <p>{{this.metalForge?.livello}}</p>
          </div>
          <div class="blocco">
            <img src={{this.steelWorks?.urlImg}} alt={{this.steelWorks?.nome}}>
            <p class="nome-struttura">{{this.steelWorks?.nome}}</p>
            <p>{{this.steelWorks?.livello}}</p>
          </div>
          <div class="blocco">
            <img src={{this.alloyTech?.urlImg}} alt={{this.alloyTech?.nome}}>
            <p class="nome-struttura">{{this.alloyTech?.nome}}</p>
            <p>{{this.alloyTech?.livello}}</p>
          </div>

          <div class="blocco">
            <img src={{this.appartamento?.urlImg}} alt={{this.appartamento?.nome}}>
            <p class="nome-struttura">{{this.appartamento?.nome}}</p>
            <p>{{this.appartamento?.livello}}</p>
          </div>
          <div class="blocco">
            <img src={{this.schiera?.urlImg}} alt={{this.schiera?.nome}}>
            <p class="nome-struttura">{{this.schiera?.nome}}</p>
            <p>{{this.schiera?.livello}}</p>
          </div>
          <div class="blocco">
            <img src={{this.villa?.urlImg}} alt={{this.villa?.nome}}>
            <p class="nome-struttura">{{this.villa?.nome}}</p>
            <p>{{this.villa?.livello}}</p>
          </div>

          <div class="blocco">
            <img src={{this.mare?.urlImg}} alt={{this.mare?.nome}}>
            <p class="nome-struttura">{{this.mare?.nome}}</p>
            <p>{{this.mare?.livello}}</p>
          </div>
          <div class="blocco">
            <img src={{this.sorgente?.urlImg}} alt={{this.sorgente?.nome}}>
            <p class="nome-struttura">{{this.sorgente?.nome}}</p>
            <p>{{this.sorgente?.livello}}</p>
          </div>
          <div class="blocco">
            <img src={{this.fiume?.urlImg}} alt={{this.fiume?.nome}}>
            <p class="nome-struttura">{{this.fiume?.nome}}</p>
            <p>{{this.fiume?.livello}}</p>
          </div>

        </div>
      </div>
    </div>
    <div class="tasti">

    </div>
  </div>

</div>
