
<div class="container">

  <div class="dett" *ngIf="!showDetails">
    <h1 id="titolo-sezione">{{title | uppercase}}</h1>
  </div>
  <div class="dett" *ngIf="showDetails" [@fadeInOnEnter]>

    <div class="principale">
      <div class="img">
        <img src={{techDett?.urlImmagine}} alt={{techDett?.nome}}>
      </div>
      <div class="info">
        <h2>{{techDett?.nome}}</h2>
        <p class="centr">Livello: {{techDett?.livello | number: '1.0-0' : 'it-IT'}}</p>
        <p class="centr">Costo:</p>
        <p *ngFor="let costo of techDett?.costi | keyvalue; let i = index">{{ costo.key }}: {{costo.value | number: '1.0-0' : 'it-IT'}} </p>
        <p class="centr">Effetto tecnologia:</p>
        <div class="prod">
          <div class="prod-attuale">
            <p>Effetto Attuale</p>
            <p>{{techDett?.effectValue| number: '1.0-1' : 'it-IT'}} {{techDett?.effectValueType}} </p>
          </div>
          <div class="prod-next">
            <p>Prossimo Livello</p>
            <p>{{techDett?.nextEffectValue| number: '1.0-1' : 'it-IT'}} {{techDett?.effectValueType}} </p>
          </div>
        </div>
        <p class="centr">Chance di successo:</p>
        <div class="try">
          <p class="centr">{{techDett?.chance}}%</p>
          <button (click)="tryUp(techDett!.id)">Tenta</button>
          <div *ngIf="chiudiFinestre.tryUpCond" [@fadeInOnEnter] [@fadeOutOnLeave] class="lvl-up">
            <div class="contenuto" *ngIf="!chiudiFinestre.contenuto">
              <h2>Vuoi provare ad alzare il livello?</h2>
              <div class="opzioni">
                <button (click)="provaAlzaLivello(techDett!.id, techDett!.id)">SI</button>
                <button (click)="chiudiTryUp()">NO</button>
              </div>
            </div>
            <div class="risultatoTry" (click)="chiudiFinestre.chiudiSuccOrFail()">
              <img *ngIf="chiudiFinestre.fail" [@headShake]="animationState" src="../../assets/img/try/fail.png">
              <img *ngIf="chiudiFinestre.success" [@heartBeat]="animationState" src="../../assets/img/try/success.png">
            </div>
          </div>
          <div class="errori" *ngIf="chiudiFinestre.errori" [@fadeInOnEnter] [@fadeOutOnLeave]>
            <h2>{{messaggioErrore}}</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="descrizione">
      <p class="requisito-soddisfatto" [ngClass]="{ 'requisito-non-soddisfatto': techDett!.livelloLaboratorioRequisito! > laboratorioRicercaLvl!}">
        * Per far salire di livello questa tecnologia è richiesto il Laboratorio di ricerca al livello: {{techDett?.livelloLaboratorioRequisito}}. Attualmente il livello del Laboratorio di ricerca è al: {{this.laboratorioRicercaLvl}}
      </p>
      <p>{{techDett?.descrizione}}</p>
    </div>


  </div>

  <div class="strutture">

    <div class="strutture-divise">
      <div class="struttura-div-sinistra">
        <div class="struttura" [ngClass]="{ 'selected': scudo?.nome === techDett?.nome}" (click)="showDetailsMethod(scudo!.id)">
          <p class="nome">{{scudo?.nome}}</p>
          <img src={{scudo?.urlImg}} alt={{scudo?.nome}}>
          <p class="lvl">{{scudo?.livello}}</p>
        </div>
        <div class="struttura" [ngClass]="{ 'selected': performante?.nome === techDett?.nome}" (click)="showDetailsMethod(performante!.id)">
          <p class="nome">{{performante?.nome}}</p>
          <img src={{performante?.urlImg}} alt={{performante?.nome}}>
          <p class="lvl">{{performante?.livello}}</p>
        </div>
        <div class="struttura" [ngClass]="{ 'selected': fortuna?.nome === techDett?.nome}" (click)="showDetailsMethod(fortuna!.id)">
          <p class="nome">{{fortuna?.nome}}</p>
          <img src={{fortuna?.urlImg}} alt={{fortuna?.nome}}>
          <p class="lvl">{{fortuna?.livello}}</p>
        </div>
      </div>
      <div class="struttura-div-destra">
        <div class="struttura" [ngClass]="{ 'selected': scudo?.nome === techDett?.nome}" (click)="showDetailsMethod(scudo!.id)">
          <p class="nome">{{scudo?.nome}}</p>
          <img src={{scudo?.urlImg}} alt={{scudo?.nome}}>
          <p class="lvl">{{scudo?.livello}}</p>
        </div>
        <div class="struttura" [ngClass]="{ 'selected': performante?.nome === techDett?.nome}" (click)="showDetailsMethod(performante!.id)">
          <p class="nome">{{performante?.nome}}</p>
          <img src={{performante?.urlImg}} alt={{performante?.nome}}>
          <p class="lvl">{{performante?.livello}}</p>
        </div>
        <div class="struttura" [ngClass]="{ 'selected': fortuna?.nome === techDett?.nome}" (click)="showDetailsMethod(fortuna!.id)">
          <p class="nome">{{fortuna?.nome}}</p>
          <img src={{fortuna?.urlImg}} alt={{fortuna?.nome}}>
          <p class="lvl">{{fortuna?.livello}}</p>
        </div>
      </div>
    </div>

</div>
