
<div class="container">

  <div class="dett" *ngIf="!showDetails">
    <h1 id="titolo-sezione">{{title | uppercase}}</h1>
  </div>
  <div class="dett" *ngIf="showDetails" [@fadeInOnEnter]>

    <div class="principale">
      <div class="img">
        <img src={{arsenaleDett?.urlImmagine}} alt={{arsenaleDett?.nome}}>
      </div>
      <div class="info">
        <h2>{{arsenaleDett?.nome}}</h2>
        <p class="centr">Livello: {{arsenaleDett?.livello | number: '1.0-0' : 'it-IT'}}</p>

        <p class="centr">Costo:</p>
        <p *ngFor="let costo of arsenaleDett?.costi | keyvalue; let i = index">{{ costo.key }}: {{costo.value | number: '1.0-0' : 'it-IT'}} </p>

        <div class="scheda-tecnica-flex">
          <button id="scheda-tecnica" (click)="vediSchedaTecnica()">Scheda tecnica</button>
        </div>
        <div class="schermata-scheda-tecnica" *ngIf="this.schedaTecnicaVista">

          <h2 id="st-titolo">SCHEDA TECNICA</h2>
          <div id="icona-chiudi" (click)="chiudiSchedaTecnica()">
            <mat-icon>close</mat-icon>
          </div>


          <div class="st-sub-titolo">

              <div class="st-sub-titolo-valori-attuali">
                <h3>VALORI ATTUALI:</h3>

              </div>

              <div class="st-sub-titolo-valori-prossimi">
                <h3>VALORI AL PROSSIMO LIVELLO:</h3>
              </div>

          </div>

          <div class="st-valori-flex">
            <div class="st-valori-attuali">
              <p>ATTACCO: {{arsenaleDett!.attacco! * arsenaleDett!.livello}}</p>
              <p>ARMATURA: {{arsenaleDett!.armatura! * arsenaleDett!.livello}}</p>
              <p>VITA: {{arsenaleDett!.vita! * arsenaleDett!.livello}}</p>
              <p>VELOCITÀ: {{arsenaleDett!.velocita! * arsenaleDett!.livello}}</p>
              <p>STIVA: {{arsenaleDett!.stiva! * arsenaleDett!.livello}}</p>
              <p>CONSUMO: {{arsenaleDett!.consumo! * arsenaleDett!.livello}}</p>
            </div>

            <div class="st-valori-prossimi">
              <p>ATTACCO: {{arsenaleDett!.attacco! * (arsenaleDett!.livello + 1)}}</p>
              <p>ARMATURA: {{arsenaleDett!.armatura! * (arsenaleDett!.livello + 1)}}</p>
              <p>VITA: {{arsenaleDett!.vita! * (arsenaleDett!.livello + 1)}}</p>
              <p>VELOCITÀ: {{arsenaleDett!.velocita! * (arsenaleDett!.livello + 1)}}</p>
              <p>STIVA: {{arsenaleDett!.stiva! * (arsenaleDett!.livello + 1)}}</p>
              <p>CONSUMO: {{arsenaleDett!.consumo! * (arsenaleDett!.livello + 1)}}</p>
            </div>
          </div>



        </div>

        <p class="centr">Chance di successo:</p>
        <div class="try">
          <p class="centr">{{arsenaleDett?.chance}}%</p>
          <button (click)="tryUp(arsenaleDett!.id)">Tenta</button>
          <div *ngIf="chiudiFinestre.tryUpCond" [@fadeInOnEnter] [@fadeOutOnLeave] class="lvl-up">
            <div class="contenuto" *ngIf="!chiudiFinestre.contenuto">
              <h2>Vuoi provare ad alzare il livello?</h2>
              <div class="opzioni">
                <button (click)="provaAlzaLivello(arsenaleDett!.id, arsenaleDett!.id)">SI</button>
                <button (click)="chiudiTryUp()">NO</button>
              </div>
            </div>
            <div class="risultatoTry" (click)="chiudiFinestre.chiudiSuccOrFail()">
              <img *ngIf="chiudiFinestre.fail" [@headShake]="animationState" src="../../assets/img/try/fail.png">
              <img *ngIf="chiudiFinestre.success" [@heartBeat]="animationState" src="../../assets/img/try/success.png">
            </div>
          </div>
          <div class="errori" *ngIf="chiudiFinestre.errori" [@fadeInOnEnter] [@fadeOutOnLeave]>
            <h2>{{messaggioErrore}}</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="descrizione">
      <p class="requisito-soddisfatto" [ngClass]="{ 'requisito-non-soddisfatto': arsenaleDett!.livelloFabbricaRequisito! > fabbricaMunizioniLvl!}">
        * Per far salire di livello questa tecnologia è richiesto il Laboratorio di ricerca al livello: {{arsenaleDett?.livelloFabbricaRequisito}}. Attualmente il livello del Laboratorio di ricerca è al: {{this.fabbricaMunizioniLvl}}
      </p>
      <p>{{arsenaleDett?.descrizione}}</p>
    </div>


  </div>

  <div class="strutture">

    <div class="strutture-divise">
      <div class="struttura-div-sinistra">
        <div class="struttura" [ngClass]="{ 'selected': P070?.nome === arsenaleDett?.nome}" (click)="showDetailsMethod(P070!.id)">
          <p class="nome">{{P070?.nome}}</p>
          <img src={{P070?.urlImg}} alt={{P070?.nome}}>
          <p class="lvl">{{P070?.livello}}</p>
        </div>
        <div class="struttura" [ngClass]="{ 'selected': TT9000?.nome === arsenaleDett?.nome}" (click)="showDetailsMethod(TT9000!.id)">
          <p class="nome">{{TT9000?.nome}}</p>
          <img src={{TT9000?.urlImg}} alt={{TT9000?.nome}}>
          <p class="lvl">{{TT9000?.livello}}</p>
        </div>
        <div class="struttura" [ngClass]="{ 'selected': S99K?.nome === arsenaleDett?.nome}" (click)="showDetailsMethod(S99K!.id)">
          <p class="nome">{{S99K?.nome}}</p>
          <img src={{S99K?.urlImg}} alt={{S99K?.nome}}>
          <p class="lvl">{{S99K?.livello}}</p>
        </div>
      </div>
      <div class="struttura-div-destra">
        <div class="struttura" [ngClass]="{ 'selected': BR88EVO?.nome === arsenaleDett?.nome}" (click)="showDetailsMethod(BR88EVO!.id)">
          <p class="nome">{{BR88EVO?.nome}}</p>
          <img src={{BR88EVO?.urlImg}} alt={{BR88EVO?.nome}}>
          <p class="lvl">{{BR88EVO?.livello}}</p>
        </div>
        <div class="struttura" [ngClass]="{ 'selected': AKK164?.nome === arsenaleDett?.nome}" (click)="showDetailsMethod(AKK164!.id)">
          <p class="nome">{{AKK164?.nome}}</p>
          <img src={{AKK164?.urlImg}} alt={{AKK164?.nome}}>
          <p class="lvl">{{AKK164?.livello}}</p>
        </div>
        <div class="struttura" [ngClass]="{ 'selected': SP3R?.nome === arsenaleDett?.nome}" (click)="showDetailsMethod(SP3R!.id)">
          <p class="nome">{{SP3R?.nome}}</p>
          <img src={{SP3R?.urlImg}} alt={{SP3R?.nome}}>
          <p class="lvl">{{SP3R?.livello}}</p>
        </div>
      </div>
    </div>

</div>
