
<div class="container">

  <div class="dett" *ngIf="!showDetails">
    <h1 id="titolo-sezione">{{title | uppercase}}</h1>
  </div>
  <div class="dett" *ngIf="showDetails" [@fadeInOnEnter]>

    <div class="principale">
      <div class="img">
        <img src={{arsenaleDett?.urlImmagine}} alt={{arsenaleDett?.nome}}>
      </div>
      <div class="info">
        <h2>{{arsenaleDett?.nome}}</h2>
        <p class="centr">Livello: {{arsenaleDett?.livello | number: '1.0-0' : 'it-IT'}}</p>

        <p class="centr">Costo:</p>
        <p *ngFor="let costo of arsenaleDett?.costi | keyvalue; let i = index">{{ costo.key }}: {{costo.value | number: '1.0-0' : 'it-IT'}} </p>

        <div class="scheda-tecnica-flex">
          <button id="scheda-tecnica" (click)="chiudiFinestre.vediSchedaTecnica()">Scheda tecnica</button>
        </div>
        <div class="schermata-scheda-tecnica" *ngIf="chiudiFinestre.schedaTecnicaVista">

          <h2 id="st-titolo">SCHEDA TECNICA "{{arsenaleDett?.nome}}"</h2>
          <div id="icona-chiudi" (click)="chiudiFinestre.chiudiSchedaTecnica()">
            <mat-icon>close</mat-icon>
          </div>

          <div class="st-valori-flex">
            <div class="st-valori-attuali">
              <h3>VALORI ATTUALI:</h3>
              <p>ATTACCO: {{ (arsenaleDett!.attacco! + (arsenaleDett!.livello * arsenaleDett?.attaccoNextLvl!)) }}</p>
              <p>ARMATURA: {{ (arsenaleDett!.armatura! + (arsenaleDett!.livello * arsenaleDett?.armaturaNextLvl!)) }}</p>
              <p>VITA: {{ (arsenaleDett!.vita! + (arsenaleDett!.livello * arsenaleDett?.vitaNextLvl!)) }}</p>
              <p>VELOCITÀ: {{ (arsenaleDett!.velocita! + (arsenaleDett!.livello * arsenaleDett?.velocitaNextLvl!)) }}</p>
              <p>STIVA: {{ (arsenaleDett!.stiva! + (arsenaleDett!.livello * arsenaleDett?.stivaNextLvl!)) }}</p>
              <p>CONSUMO: {{ (arsenaleDett!.consumo! + (arsenaleDett!.livello * arsenaleDett?.consumoNextLvl!)) }}</p>
              <p>NUMERO MASSIMO OBBIETTIVI: {{ (arsenaleDett!.numeroMassimoObbiettivi! + (arsenaleDett!.livello * arsenaleDett?.numeroMassimoObbiettiviNextLvl!)) }}</p>
              <p>SPAZI PER QUESTA ARMA: {{ (arsenaleDett!.numeroMassimoArma! + (arsenaleDett!.livello * arsenaleDett?.numeroMassimoArmaNextLvl!)) }}</p>
              <div class="obbiettivi">
                <h3>Gli obbiettivi dell'arma "{{arsenaleDett?.nome}}" sono:</h3>
                <p>Sistema missilistico</p>
                <p>JJ M4-NU</p>
                <p>Sistema missilistico</p>
                <p>JJ M4-NU</p>
                <p>JJ M4-NU</p>
              </div>
            </div>

            <div class="st-valori-prossimi">
              <h3>VALORI DEL PROSSIMO LIVELLO:</h3>
              <p>ATTACCO: {{ (arsenaleDett!.attacco! + ((arsenaleDett!.livello + 1) * arsenaleDett?.attaccoNextLvl!)) }}</p>
              <p>ARMATURA: {{ (arsenaleDett!.armatura! + ((arsenaleDett!.livello + 1) * arsenaleDett?.armaturaNextLvl!)) }}</p>
              <p>VITA: {{ (arsenaleDett!.vita! + ((arsenaleDett!.livello + 1) * arsenaleDett?.vitaNextLvl!)) }}</p>
              <p>VELOCITÀ: {{ (arsenaleDett!.velocita! + ((arsenaleDett!.livello + 1) * arsenaleDett?.velocitaNextLvl!)) }}</p>
              <p>STIVA: {{ (arsenaleDett!.stiva! + ((arsenaleDett!.livello + 1) * arsenaleDett?.stivaNextLvl!)) }}</p>
              <p>CONSUMO: {{ (arsenaleDett!.consumo! + ((arsenaleDett!.livello + 1) * arsenaleDett?.consumoNextLvl!)) }}</p>
              <p>NUMERO MASSIMO OBBIETTIVI: {{ (arsenaleDett!.numeroMassimoObbiettivi! + ((arsenaleDett!.livello + 1) * arsenaleDett?.numeroMassimoObbiettiviNextLvl!)) }}</p>
              <p>SPAZI PER QUESTA ARMA: {{ (arsenaleDett!.numeroMassimoArma! + ((arsenaleDett!.livello + 1) * arsenaleDett?.numeroMassimoArmaNextLvl!)) }}</p>
              <div class="obbiettivi">
                <h3>L'arma "{{arsenaleDett?.nome}}" è l'obbiettivo di:</h3>
                <p>JJ M4-NU</p>
              </div>
            </div>
          </div>

        </div>

        <p class="centr">Chance di successo:</p>
        <div class="try">
          <p class="centr">{{arsenaleDett?.chance}}%</p>
          <button (click)="tryUp(arsenaleDett!.id)">Tenta</button>
          <div *ngIf="chiudiFinestre.tryUpCond" [@fadeInOnEnter] [@fadeOutOnLeave] class="lvl-up">
            <div class="contenuto" *ngIf="!chiudiFinestre.contenuto">
              <h2>Vuoi provare ad alzare il livello?</h2>
              <div class="opzioni">
                <button (click)="provaAlzaLivello(arsenaleDett!.id, arsenaleDett!.id)">SI</button>
                <button (click)="chiudiTryUp()">NO</button>
              </div>
            </div>
            <div class="risultatoTry" (click)="chiudiFinestre.chiudiSuccOrFail()">
              <img *ngIf="chiudiFinestre.fail" [@headShake]="animationState" src="../../assets/img/try/fail.png">
              <img *ngIf="chiudiFinestre.success" [@heartBeat]="animationState" src="../../assets/img/try/success.png">
            </div>
          </div>
          <div class="errori" *ngIf="chiudiFinestre.errori" [@fadeInOnEnter] [@fadeOutOnLeave]>
            <h2>{{messaggioErrore}}</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="descrizione">
      <p class="requisito-soddisfatto" [ngClass]="{ 'requisito-non-soddisfatto': arsenaleDett!.livelloFabbricaRequisito! > fabbricaMunizioniLvl!}">
        * Per far salire di livello questa tecnologia è richiesto il Laboratorio di ricerca al livello: {{arsenaleDett?.livelloFabbricaRequisito}}. Attualmente il livello del Laboratorio di ricerca è al: {{this.fabbricaMunizioniLvl}}
      </p>
      <p>{{arsenaleDett?.descrizione}}</p>
    </div>


  </div>

  <div class="strutture">

    <div class="strutture-divise">
      <div class="struttura-div-sinistra">
        <div (click)="showDetailsMethod(P070!.id)" [ngClass]="{
          'selected': P070?.nome === arsenaleDett?.nome ,
          'bianco-nero': P070!.requisito > fabbricaMunizioniLvl,
          'struttura': true
        }">
          <p class="nome">{{P070?.nome}}</p>
          <img src={{P070?.urlImg}} alt={{P070?.nome}}>
          <p class="lvl">{{P070?.livello}}</p>
        </div>
        <div (click)="showDetailsMethod(TT9000!.id)" [ngClass]="{
          'selected': TT9000?.nome === arsenaleDett?.nome ,
          'bianco-nero': TT9000!.requisito > fabbricaMunizioniLvl,
          'struttura': true
        }">
          <p class="nome">{{TT9000?.nome}}</p>
          <img src={{TT9000?.urlImg}} alt={{TT9000?.nome}}>
          <p class="lvl">{{TT9000?.livello}}</p>
        </div>
        <div (click)="showDetailsMethod(S99K!.id)" [ngClass]="{
          'selected': S99K?.nome === arsenaleDett?.nome ,
          'bianco-nero': S99K!.requisito > fabbricaMunizioniLvl,
          'struttura': true
        }">
          <p class="nome">{{S99K?.nome}}</p>
          <img src={{S99K?.urlImg}} alt={{S99K?.nome}}>
          <p class="lvl">{{S99K?.livello}}</p>
        </div>
      </div>
      <div class="struttura-div-destra">
        <div (click)="showDetailsMethod(BR88EVO!.id)" [ngClass]="{
          'selected': BR88EVO?.nome === arsenaleDett?.nome ,
          'bianco-nero': BR88EVO!.requisito > fabbricaMunizioniLvl,
          'struttura': true
        }">
          <p class="nome">{{BR88EVO?.nome}}</p>
          <img src={{BR88EVO?.urlImg}} alt={{BR88EVO?.nome}}>
          <p class="lvl">{{BR88EVO?.livello}}</p>
        </div>
        <div (click)="showDetailsMethod(AKK164!.id)" [ngClass]="{
          'selected': AKK164?.nome === arsenaleDett?.nome ,
          'bianco-nero': AKK164!.requisito > fabbricaMunizioniLvl,
          'struttura': true
        }">
          <p class="nome">{{AKK164?.nome}}</p>
          <img src={{AKK164?.urlImg}} alt={{AKK164?.nome}}>
          <p class="lvl">{{AKK164?.livello}}</p>
        </div>
        <div (click)="showDetailsMethod(SP3R!.id)" [ngClass]="{
          'selected': SP3R?.nome === arsenaleDett?.nome ,
          'bianco-nero': SP3R!.requisito > fabbricaMunizioniLvl,
          'struttura': true
        }">
          <p class="nome">{{SP3R?.nome}}</p>
          <img src={{SP3R?.urlImg}} alt={{SP3R?.nome}}>
          <p class="lvl">{{SP3R?.livello}}</p>
        </div>
      </div>
    </div>

    <div class="strutture-divise">
      <div class="struttura-div-sinistra">
        <div (click)="showDetailsMethod(granata!.id)" [ngClass]="{
          'selected': granata?.nome === arsenaleDett?.nome ,
          'bianco-nero': granata!.requisito > fabbricaMunizioniLvl,
          'struttura': true
        }">
          <p class="nome">{{granata?.nome}}</p>
          <img src={{granata?.urlImg}} alt={{granata?.nome}}>
          <p class="lvl">{{granata?.livello}}</p>
        </div>
        <div (click)="showDetailsMethod(droneEsplosivo!.id)" [ngClass]="{
          'selected': droneEsplosivo?.nome === arsenaleDett?.nome ,
          'bianco-nero': droneEsplosivo!.requisito > fabbricaMunizioniLvl,
          'struttura': true
        }">
          <p class="nome">{{droneEsplosivo?.nome}}</p>
          <img src={{droneEsplosivo?.urlImg}} alt={{droneEsplosivo?.nome}}>
          <p class="lvl">{{droneEsplosivo?.livello}}</p>
        </div>
        <div (click)="showDetailsMethod(sistemaMissilistico!.id)" [ngClass]="{
          'selected': sistemaMissilistico?.nome === arsenaleDett?.nome ,
          'bianco-nero': sistemaMissilistico!.requisito > fabbricaMunizioniLvl,
          'struttura': true
        }">
          <p class="nome">{{sistemaMissilistico?.nome}}</p>
          <img src={{sistemaMissilistico?.urlImg}} alt={{sistemaMissilistico?.nome}}>
          <p class="lvl">{{sistemaMissilistico?.livello}}</p>
        </div>
      </div>
      <div class="struttura-div-destra">
        <div (click)="showDetailsMethod(moody!.id)" [ngClass]="{
          'selected': moody?.nome === arsenaleDett?.nome ,
          'bianco-nero': moody!.requisito > fabbricaMunizioniLvl,
          'struttura': true
        }">
          <p class="nome">{{moody?.nome}}</p>
          <img src={{moody?.urlImg}} alt={{moody?.nome}}>
          <p class="lvl">{{moody?.livello}}</p>
        </div>
        <div (click)="showDetailsMethod(doody!.id)" [ngClass]="{
          'selected': doody?.nome === arsenaleDett?.nome ,
          'bianco-nero': doody!.requisito > fabbricaMunizioniLvl,
          'struttura': true
        }">
          <p class="nome">{{doody?.nome}}</p>
          <img src={{doody?.urlImg}} alt={{doody?.nome}}>
          <p class="lvl">{{doody?.livello}}</p>
        </div>
        <div (click)="showDetailsMethod(zanq!.id)" [ngClass]="{
          'selected': zanq?.nome === arsenaleDett?.nome ,
          'bianco-nero': zanq!.requisito > fabbricaMunizioniLvl,
          'struttura': true
        }">
          <p class="nome">{{zanq?.nome}}</p>
          <img src={{zanq?.urlImg}} alt={{zanq?.nome}}>
          <p class="lvl">{{zanq?.livello}}</p>
        </div>
      </div>
    </div>

    <div class="strutture-divise">
      <div class="struttura-div-sinistra">
        <div (click)="showDetailsMethod(dodo!.id)" [ngClass]="{
          'selected': dodo?.nome === arsenaleDett?.nome ,
          'bianco-nero': dodo!.requisito > fabbricaMunizioniLvl,
          'struttura': true
        }">
          <p class="nome">{{dodo?.nome}}</p>
          <img src={{dodo?.urlImg}} alt={{dodo?.nome}}>
          <p class="lvl">{{dodo?.livello}}</p>
        </div>
        <div (click)="showDetailsMethod(icio!.id)" [ngClass]="{
          'selected': icio?.nome === arsenaleDett?.nome ,
          'bianco-nero': icio!.requisito > fabbricaMunizioniLvl,
          'struttura': true
        }">
          <p class="nome">{{icio?.nome}}</p>
          <img src={{icio?.urlImg}} alt={{icio?.nome}}>
          <p class="lvl">{{icio?.livello}}</p>
        </div>
        <div (click)="showDetailsMethod(manu!.id)" [ngClass]="{
          'selected': manu?.nome === arsenaleDett?.nome ,
          'bianco-nero': manu!.requisito > fabbricaMunizioniLvl,
          'struttura': true
        }">
          <p class="nome">{{manu?.nome}}</p>
          <img src={{manu?.urlImg}} alt={{manu?.nome}}>
          <p class="lvl">{{manu?.livello}}</p>
        </div>
      </div>
      <div class="struttura-div-destra">
        <div (click)="showDetailsMethod(virus!.id)" [ngClass]="{
          'selected': virus?.nome === arsenaleDett?.nome ,
          'bianco-nero': virus!.requisito > fabbricaMunizioniLvl,
          'struttura': true
        }">
          <p class="nome">{{virus?.nome}}</p>
          <img src={{virus?.urlImg}} alt={{virus?.nome}}>
          <p class="lvl">{{virus?.livello}}</p>
        </div>
        <div (click)="showDetailsMethod(cargo!.id)" [ngClass]="{
          'selected': cargo?.nome === arsenaleDett?.nome ,
          'bianco-nero': cargo!.requisito > fabbricaMunizioniLvl,
          'struttura': true
        }">
          <p class="nome">{{cargo?.nome}}</p>
          <img src={{cargo?.urlImg}} alt={{cargo?.nome}}>
          <p class="lvl">{{cargo?.livello}}</p>
        </div>
        <div (click)="showDetailsMethod(droneSpia!.id)" [ngClass]="{
          'selected': droneSpia?.nome === arsenaleDett?.nome ,
          'bianco-nero': droneSpia!.requisito > fabbricaMunizioniLvl,
          'struttura': true
        }">
          <p class="nome">{{droneSpia?.nome}}</p>
          <img src={{droneSpia?.urlImg}} alt={{droneSpia?.nome}}>
          <p class="lvl">{{droneSpia?.livello}}</p>
        </div>
      </div>
    </div>

</div>
