body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 90vh;
}

.container {
  width: 60%;
  margin: 50px auto;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(37, 16, 39, 0.7));
  padding: 100px 20px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  text-align: center;
  color: #fff;
}


p {
  font-size: 18px;
  line-height: 1.6;
  color: #ccc;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
