
<div class="container">

  <div class="dett" *ngIf="!showDetails">
    <h1 id="titolo-sezione">{{title | uppercase}}</h1>
  </div>
  <div class="dett" *ngIf="showDetails" [@fadeInOnEnter]>

    <div class="principale">
      <div class="img">
        <img src={{difesaDett?.urlImmagine}} alt={{difesaDett?.nome}}>
      </div>
      <div class="info">
        <h2>{{difesaDett?.nome}}</h2>
        <p class="centr">Livello: {{difesaDett?.livello | number: '1.0-0' : 'it-IT'}}</p>

        <p class="centr">Costo:</p>
        <p *ngFor="let costo of difesaDett?.costi | keyvalue; let i = index">{{ costo.key }}: {{costo.value | number: '1.0-0' : 'it-IT'}} </p>

        <div class="scheda-tecnica-flex">
          <button id="scheda-tecnica" (click)="chiudiFinestre.vediSchedaTecnica()">Scheda tecnica</button>
        </div>
        <div class="schermata-scheda-tecnica" *ngIf="chiudiFinestre.schedaTecnicaVista">

          <h2 id="st-titolo">SCHEDA TECNICA "{{difesaDett?.nome}}"</h2>
          <div id="icona-chiudi" (click)="chiudiFinestre.chiudiSchedaTecnica()">
            <mat-icon>close</mat-icon>
          </div>

          <div class="st-valori-flex">
            <div class="st-valori-attuali">
              <h3>VALORI ATTUALI:</h3>
              <p>DANNO: {{ (difesaDett!.danno! + (difesaDett!.livello * difesaDett?.dannoNextLvl!)) }}</p>
              <p>PENETRAZIONE ARMATURA: {{ (difesaDett!.penetrazioneArmatura! + (difesaDett!.livello * difesaDett?.penetrazioneArmaturaNextLvl!)) }}</p>
              <p>ARMATURA: {{ (difesaDett!.armatura! + (difesaDett!.livello * difesaDett?.armaturaNextLvl!)) }}</p>
              <p>VITA: {{ (difesaDett!.vita! + (difesaDett!.livello * difesaDett?.vitaNextLvl!)) }}</p>
              <p>NUMERO MASSIMO OBBIETTIVI: {{ (difesaDett!.numeroMassimoObbiettivi! + (difesaDett!.livello * difesaDett?.numeroMassimoObbiettiviNextLvl!)) }}</p>
              <p>SPAZI PER QUESTA DIFESA: {{ (difesaDett!.numeroMassimoDifesa! + (difesaDett!.livello * difesaDett?.numeroMassimoDifesaNextLvl!)) }}</p>
              <div class="obbiettivi">
                <h3>Gli obbiettivi della difesa "{{difesaDett?.nome}}" sono:</h3>
                <p>Sistema missilistico</p>
                <p>JJ M4-NU</p>
                <p>Sistema missilistico</p>
                <p>JJ M4-NU</p>
                <p>JJ M4-NU</p>
              </div>
            </div>

            <div class="st-valori-prossimi">
              <h3>VALORI DEL PROSSIMO LIVELLO:</h3>
              <p>DANNO: {{ (difesaDett!.danno! + ((difesaDett!.livello + 1) * difesaDett?.dannoNextLvl!)) }}</p>
              <p>PENETRAZIONE ARMATURA: {{ (difesaDett!.penetrazioneArmatura! + ((difesaDett!.livello + 1) * difesaDett?.penetrazioneArmaturaNextLvl!)) }}</p>
              <p>ARMATURA: {{ (difesaDett!.armatura! + ((difesaDett!.livello + 1) * difesaDett?.armaturaNextLvl!)) }}</p>
              <p>VITA: {{ (difesaDett!.vita! + ((difesaDett!.livello + 1) * difesaDett?.vitaNextLvl!)) }}</p>
              <p>NUMERO MASSIMO OBBIETTIVI: {{ (difesaDett!.numeroMassimoObbiettivi! + ((difesaDett!.livello + 1) * difesaDett?.numeroMassimoObbiettiviNextLvl!)) }}</p>
              <p>SPAZI PER QUESTA DIFESA: {{ (difesaDett!.numeroMassimoDifesa! + ((difesaDett!.livello + 1) * difesaDett?.numeroMassimoDifesaNextLvl!)) }}</p>
              <div class="obbiettivi">
                <h3>L'arma "{{difesaDett?.nome}}" è l'obbiettivo di:</h3>
                <p>JJ M4-NU</p>
              </div>
            </div>
          </div>

        </div>

        <p class="centr">Chance di successo:</p>
        <div class="try">
          <p class="centr">{{difesaDett?.chance}}%</p>
          <button (click)="tryUp(difesaDett!.id)">Tenta</button>
          <div *ngIf="chiudiFinestre.tryUpCond" [@fadeInOnEnter] [@fadeOutOnLeave] class="lvl-up">
            <div class="contenuto" *ngIf="!chiudiFinestre.contenuto">
              <h2>Vuoi provare ad alzare il livello?</h2>
              <div class="opzioni">
                <button (click)="provaAlzaLivello(difesaDett!.id, difesaDett!.id)">SI</button>
                <button (click)="chiudiTryUp()">NO</button>
              </div>
            </div>
            <div class="risultatoTry" (click)="chiudiFinestre.chiudiSuccOrFail()">
              <img *ngIf="chiudiFinestre.fail" [@headShake]="animationState" src="../../assets/img/try/fail.png">
              <img *ngIf="chiudiFinestre.success" [@heartBeat]="animationState" src="../../assets/img/try/success.png">
            </div>
          </div>
          <div class="errori" *ngIf="chiudiFinestre.errori" [@fadeInOnEnter] [@fadeOutOnLeave]>
            <h2>{{messaggioErrore}}</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="descrizione">
      <p class="requisito-soddisfatto" [ngClass]="{ 'requisito-non-soddisfatto': difesaDett!.livelloFabbricaRequisito! > fabbricaMunizioniLvl!}">
        * Per far salire di livello questa tecnologia è richiesto il Laboratorio di ricerca al livello: {{difesaDett?.livelloFabbricaRequisito}}. Attualmente il livello del Laboratorio di ricerca è al: {{this.fabbricaMunizioniLvl}}
      </p>
      <p>{{difesaDett?.descrizione}}</p>
    </div>


  </div>

  <div class="strutture">

    <div class="strutture-divise">
      <div class="struttura-div-sinistra">
        <div (click)="showDetailsMethod(filo!.id)" [ngClass]="{
           'selected': filo?.nome === difesaDett?.nome ,
           'bianco-nero': filo!.requisito > fabbricaMunizioniLvl,
           'struttura': true
        }">
          <p class="nome">{{filo?.nome}}</p>
          <img [src]="filo?.urlImg" [alt]="filo?.nome">
          <p class="lvl">{{filo?.livello}}</p>
        </div>
        <div (click)="showDetailsMethod(mina!.id)" [ngClass]="{
          'selected': mina?.nome === difesaDett?.nome ,
          'bianco-nero': mina!.requisito > fabbricaMunizioniLvl,
          'struttura': true
        }">
          <p class="nome">{{mina?.nome}}</p>
          <img [src]="mina?.urlImg" [alt]="mina?.nome">
          <p class="lvl">{{mina?.livello}}</p>
        </div>
        <div (click)="showDetailsMethod(sentinella!.id)" [ngClass]="{
          'selected': sentinella?.nome === difesaDett?.nome ,
          'bianco-nero': sentinella!.requisito > fabbricaMunizioniLvl,
          'struttura': true
        }">
          <p class="nome">{{sentinella?.nome}}</p>
          <img [src]="sentinella?.urlImg" [alt]="sentinella?.nome">
          <p class="lvl">{{sentinella?.livello}}</p>
        </div>
      </div>
      <div class="struttura-div-destra">
        <div (click)="showDetailsMethod(torrettaLeggera!.id)" [ngClass]="{
          'selected': torrettaLeggera?.nome === difesaDett?.nome ,
          'bianco-nero': torrettaLeggera!.requisito > fabbricaMunizioniLvl,
          'struttura': true
        }">
          <p class="nome">{{torrettaLeggera?.nome}}</p>
          <img [src]="torrettaLeggera?.urlImg" [alt]="torrettaLeggera?.nome">
          <p class="lvl">{{torrettaLeggera?.livello}}</p>
        </div>
        <div (click)="showDetailsMethod(torrettaPesante!.id)" [ngClass]="{
          'selected': torrettaPesante?.nome === difesaDett?.nome ,
          'bianco-nero': torrettaPesante!.requisito > fabbricaMunizioniLvl,
          'struttura': true
        }">
          <p class="nome">{{torrettaPesante?.nome}}</p>
          <img [src]="torrettaPesante?.urlImg" [alt]="torrettaPesante?.nome">
          <p class="lvl">{{torrettaPesante?.livello}}</p>
        </div>
        <div (click)="showDetailsMethod(torrettaPrecisione!.id)" [ngClass]="{
          'selected': torrettaPrecisione?.nome === difesaDett?.nome ,
          'bianco-nero': torrettaPrecisione!.requisito > fabbricaMunizioniLvl,
          'struttura': true
        }">
          <p class="nome">{{torrettaPrecisione?.nome}}</p>
          <img [src]="torrettaPrecisione?.urlImg" [alt]="torrettaPrecisione?.nome">
          <p class="lvl">{{torrettaPrecisione?.livello}}</p>
        </div>
      </div>
    </div>

    <div class="strutture-divise">
      <div class="struttura-div-sinistra">
        <div (click)="showDetailsMethod(antiMissili!.id)" [ngClass]="{
          'selected': antiMissili?.nome === difesaDett?.nome ,
          'bianco-nero': antiMissili!.requisito > fabbricaMunizioniLvl,
          'struttura': true
        }">
          <p class="nome">{{antiMissili?.nome}}</p>
          <img [src]="antiMissili?.urlImg" [alt]="antiMissili?.nome">
          <p class="lvl">{{antiMissili?.livello}}</p>
        </div>
        <div (click)="showDetailsMethod(cannone!.id)" [ngClass]="{
          'selected': cannone?.nome === difesaDett?.nome ,
          'bianco-nero': cannone!.requisito > fabbricaMunizioniLvl,
          'struttura': true
        }">
          <p class="nome">{{cannone?.nome}}</p>
          <img [src]="cannone?.urlImg" [alt]="cannone?.nome">
          <p class="lvl">{{cannone?.livello}}</p>
        </div>
        <div (click)="showDetailsMethod(missileCalore!.id)" [ngClass]="{
          'selected': missileCalore?.nome === difesaDett?.nome ,
          'bianco-nero': missileCalore!.requisito > fabbricaMunizioniLvl,
          'struttura': true
        }">
          <p class="nome">{{missileCalore?.nome}}</p>
          <img [src]="missileCalore?.urlImg" [alt]="missileCalore?.nome">
          <p class="lvl">{{missileCalore?.livello}}</p>
        </div>
      </div>
      <div class="struttura-div-destra">
        <div (click)="showDetailsMethod(radio!.id)" [ngClass]="{
          'selected': radio?.nome === difesaDett?.nome ,
          'bianco-nero': radio!.requisito > fabbricaMunizioniLvl,
          'struttura': true
        }">
          <p class="nome">{{radio?.nome}}</p>
          <img [src]="radio?.urlImg" [alt]="radio?.nome">
          <p class="lvl">{{radio?.livello}}</p>
        </div>
      </div>
    </div>

</div>
