

.container .titolo {
  color: #fff;
  text-align: center;
  margin: 20px auto;
  font-weight: bolder;
  font-size: 22px;
}

.container .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container .buttons .button {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(1);
  margin: 0 2%;
  border: solid 3px transparent;
  padding: 10px 10px 0px;
}

.container .buttons .button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.container .buttons .selected {
  border: solid 3px #f6fa00;
  padding: 10px 10px 0px;
  border-radius: 15px;
}

.container .buttons .selected:hover {
  transform: none;
}

.container .buttons .button img {
  width: 80px;
  height: 80px;
}

.container .buttons .button p {
  color: #fff;
  font-size: 16px;
  padding: 10px 0px 0px;
  text-align: center;
}

.registro {
  display: flex;
  flex-direction: column;
}

.registro .head-registro {
  display: flex;
  flex-direction: row;

  margin-right: 5px;
  padding: 2% 0 0;
  height: max-content;
}

.registro .head-registro .pos {
  color: #fff;
  font-weight: bolder;
  min-width: 20%;
  text-align: center;
  font-size: 18px;
  border-bottom-style: double;
  border-left-style: solid;
}

.registro .head-registro .head-elements {
  color: #fff;
  font-weight: bolder;
  min-width: 25%;
  text-align: center;
  font-size: 18px;
  border-bottom-style: double;
  border-left-style: solid;
}

.registro .head-registro .head-elements-desc {
  color: #fff;
  font-weight: bolder;
  min-width: 45%;
  text-align: center;
  font-size: 18px;
  border-bottom-style: double;
  border-left-style: solid;
  padding: 0 1%;
}

.registro .body-registro .campi-body .pos {
  color: #fff;
  min-width: 20%;
  height: 32px;
  text-align: center;
  font-size: 16px;
  border-bottom-style: double;
  border-left-style: solid;
}

.registro .body-registro .campi-body .elements {
  color: #fff;
  text-align: center;
  font-size: 16px;
  border-bottom-style: double;
  border-left-style: solid;
  min-width: 25%;
}

.registro .body-registro .campi-body .elements-desc {
  color: #fff;
  text-align: center;
  font-size: 16px;
  border-bottom-style: double;
  border-left-style: solid;
  min-width: 45%;
  padding: 5px 1%;
}

.registro .body-registro {
  max-height: 720px;
  overflow-y: auto;
  transition: box-shadow 0.3s ease;
}

.registro .body-registro::-webkit-scrollbar {
  width: 5px; /* Larghezza della barra di scorrimento */
}

.registro .body-registro::-webkit-scrollbar-track {
  background-color: rgb(45, 3, 49); /* Colore dello sfondo della barra di scorrimento */
}

.registro .body-registro::-webkit-scrollbar-thumb {
  background-color: rgba(144, 48, 153, 0.842); /* Colore della maniglia della barra di scorrimento */
}

.registro .body-registro .campi-body{
  display: flex;
  flex-direction: row;
}

.registro .body-registro .campi-body:hover {
  background-color: rgb(32 62 117);
  cursor: pointer;
}

.registro .body-registro .campi-body p {
  padding: 5px 0px 0 0;
}

p {
  margin: 0;
  width: 100%;
}

.registro .body-registro button {
  margin-top: 5%;
  margin-left: 25%;
  width: 50%;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.registro .body-registro button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.registro .body-registro button.no-anim:hover {
  cursor: not-allowed;
  transform: none;
}
