body {
  color: #ffffff;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background: linear-gradient(to right, #3a1a43, #251027);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.login-container label {
  display: block;
  margin-bottom: 8px;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #1a071d;
  color: #fff;
  outline: none;
}

.login-button {
  width: 60%;
  max-width: 150px;
  height: 60px;
  background: linear-gradient(to right, #3a1a43, #251027);
  border-radius: 15px;
  border-color: #fff;
  font-size: larger;
  color: #fff;
  margin-bottom: 15px;
}

.login-button:hover {

  background: linear-gradient(to right, #4f285a, #4a204e);
  border-radius: 10px;
  font-size: x-large;
  color: #fff;
}

.errors-container {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(37, 16, 39, 0.7));
  padding: 100px 20px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
  text-align: center;
  color: #fff;
}
